/* @media (min-width: 641px) {
  .container123 {
    display: grid;
    grid-template-columns: 1.5fr 10fr;
    height: 100vh;
  }
} */
@media (min-width: 641px) {
  .container123 {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 10fr;
    height: auto;
  }
}

.main-container {
  background-image: url("../../assets/meme-editor-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  /* min-height: 94vh; */
}

.gradient-div {
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(217, 60, 203, 0.6),
    rgba(97, 117, 229, 0.6)
  );
  width: 91%;

  border-radius: 20px;
  overflow: hidden;
}

.image-selector {
  width: calc(28vw - 11px);
}

@media (min-width: 405px) {
  .image-selector {
    width: calc(48% - 1px);
  }
}
